body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdc3e7; 
 }
 
 header {
    background-color: hsl(315, 83%, 67%); 
    color: rgb(250, 205, 231);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: none;
 }
 
 .menu-icon {
    cursor: pointer;
 }
 
 nav {
    background-color: #2960c7; /* Cinza escuro */
    color: rgb(162, 236, 155);
    width: 250px; 
    position: absolute;
    top: 60px; 
    left: 0;
 }

 nav ul {
    list-style-type: none;
    padding: 0;
 }
 
 nav ul li a {
    color: rgb(89, 38, 112);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
 }
 
 nav ul li a:hover {
    background-color: #a3b124; /* Cinza mais claro */
 }
 
 .hidden {
    display: none;
 }
 
 .close-btn {
    display: block;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    color:rgb(0, 0, 0); 
 }
 
