body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

.menu-principal ul,
.menu-secundario ul {
    list-style-type: none;
}

.menu-principal li,
.menu-secundario li {
    display: inline;
    margin-right: 20px;
}

.menu-principal a,
.menu-secundario a {
    color: white;
    text-decoration: none;
}

input[type=text] {
    margin-left: 20px;
}
