body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fundo claro */
 }
 
 header {
    background-color: #007BFF; /* Azul */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: none;
 }
 
 .menu-icon {
    cursor: pointer;
 }
 
 nav {
    background-color: #343a40; /* Cinza escuro */
    color: white;
    width: 250px; 
    position: absolute;
    top: 60px; 
    left: 0;
 }
 
 nav ul {
    list-style-type: none;
    padding: 0;
 }
 
 nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
 }
 
 nav ul li a:hover {
    background-color: #495057; /* Cinza mais claro */
 }
 
 .hidden {
    display: none;
 }
 
 .close-btn {
    display: block;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    color:white; 
 }
 
